/* Globals */

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}

body, html {
    overflow-x: hidden;
}

svg {
    width: 20px;
    height: 20px;
    /* border: 5px solid red; */
}

a {
    text-decoration: none;
    display: block;
    color: var(--primary-color);
}

body {
    display: flex;
}

input[type="checkbox"] {
    display: none;
}

section {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 100vh;
    width: 30vw;
    /* border: 5px solid red; */
    background-color: var(--background);
}

.container p {
    display: inline;
    font-size: 16px;
}

/* Logo */

.logo {
    width: 115px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* border: 5px solid red; */
}

/* Topside */

.topside {
    margin: 10px auto;
    /* border: 5px solid red; */
    width: 100%;
}

/* Login header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 10px;
}

.header svg {
    width: 25px;
    height: 25px;
    /* border: 5px solid red; */
}

.header h1 {
    display: inline;
}

/* Form */

.form {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    width: 60%;
    /* height: 40%; */
    /* margin: 10px auto; */
    /* border: 5px solid red; */
    color: var(--text-base);
}

.form h1 {
    color: var(--text-title);
}

.form form {
    width: 100%;
}

/* Form mail/password/remember */

.form .label {
    margin: 10px;
}

/* Form fields */

label h2 {
    font-size: 16px;
    font-weight: normal;
}

.field input {
    border: none;
    margin-right: 132px;
    background-color: var(--form-background);
    outline: none;
    color: var(--text-base);
}

.field:focus-within {
    border: 1px solid var(--primary-color);
}

.field:focus-within > image {
    fill: var(--primary-color);
}

.field svg {
    margin-right: 5px;
}

.field {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 2px;
}

/* Remember */

/* .form label[for="remember"] {
    border: 5px solid red;
} */

.form label[for="remember"] p{
    display: inline;
    /* border: 5px solid red; */
    margin-left: 5px;
    /* margin-right: 0; */
}

.form label[for="remember"] {
    display: flex;
    align-items: center;
}

.botside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid red; */
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

p {
    display: inline;
    font-size: 16px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.container p {
    position: relative;
    top: 2px;
    right: 8px;
    color: var(--text-base);
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--form-background);
    border: 1px solid var(--text-base);
    border-radius: 5px;
    outline: var(--primary-color);
}

.container input:checked ~ .checkmark {
    background-color: var(--primary-color);
}

.checkmark:after {
    content: url(./Login/images/check.svg);
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    width: 5px;
    height: 10px;
}
  

/* .botside label {
    border: 2px solid red;
    width: 220px;
} */


/* .botside a {
    display: inline;
    margin-left: 100px;
    border: 5px solid red; 
} */

/* Form button */

.form button {
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
    font-weight: bold;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* Background */

.background {
    background-color: var(--form-background);
    padding: 20px 0 35px;
    margin: 60px auto 0;
    width: 85%;
}

.login {
    min-width: 670px;
}

.imagesection {
    background: url("Login/images/side-image-2x.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 70vw;
}

/* For Javascript */
/* 
label[for="mail"]:hover > .field {
    border: 1px solid var(--primary-color);
} */

/* == Mobile == */

@media only screen and (max-width:850px) {
    /* body {
        background-color: var(--background);
    } */

    .login {
        width: 100%;
    }

    .background {
        width: 560px;
        background-color: rgba(0, 0, 0, 0);
    }

    .form .field input {
        background-color: var(--background);
    }

    /* .form {
        position: relative;
        left: 40px;
    } */

    .imagesection {
        display: none;
    }

    .checkmark {
        background-color: var(--background);
    }
}
